@import './root.scss';
@import './form';
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
.container {
      max-width: 1920px;
      margin: auto;

}
.weather {
      overflow: hidden;
      font-family: 'Prompt', sans-serif;
      background: url('../img/cloud-light.png') center center/cover no-repeat;
}

.main {
      background: rgba(#000, 0.3);
      min-height: 100vh;
      padding: 100px;
}

.row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
}

.row__col-left {
      color: var(--white);
      .site-name {
            font-size: 64px;
            color: var(--white);
      }

      .country {
            font-size: 34px;
            font-weight: 600;
            margin: 20px 0;
      }

      .date {
            font-size: 24px;
      }

      .temperature{
            font-size: 60px;
            margin: 15px 0;
            span{
                  font-size: 80px !important;
                  margin-right: 5px;
                  font-weight: 600;
            }
      }

      .description{
            font-size: 28px;
            font-weight: 600;
      }

      .min-max{
            font-size: 28px;
            margin-top: 15px;
      }
}
@import './responsive';